$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-third: 'Manrope', sans-serif;
$font-forth: 'Plus Jakarta Sans', sans-serif;
$font-fifth: 'Public Sans', sans-serif;
$font-sixth: 'Quicksand', sans-serif;

$color-primary: #6C5FBC;