$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-third: 'Manrope', sans-serif;
$font-forth: 'Plus Jakarta Sans', sans-serif;
$font-fifth: 'Public Sans', sans-serif;
$font-sixth: 'Quicksand', sans-serif;

$color-primary: #6C5FBC;

@mixin font-style($color, $size, $weight, $lheight: auto) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $lheight;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-primary;
    background-color: #F9F9F9;

    a{
        text-decoration: none;
    }
}

.container{
    max-width: 1262px;
    margin:auto
}

header{
    display: flex;
    justify-content: space-between;

    nav,
    nav li,
    button {
        display: inline-block;
    }

    .container{
        padding: 48px 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: #CBCBCB 1px solid;

        .header-logo-nav{
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .header-logo{
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .name-logo{
                    a{
                        margin-left: 11px;
        
                        @include font-style($color-primary, 21px, 600, 28px);
                    }
                }
            }

            .header-nav {
                nav ul{
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                    li{
                        list-style-type: none;
                        display: flex;
                        justify-content: space-between;

                        a{

                            @include font-style(#606060, 18px, 500, 27px);
                        }
                    }
                }
            }
        }

        .header-buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;

            button{
                font-family: $font-secondary;
                padding: 18px 27px;
                background-color: #F9F9F9;
                border-style: none;

                @include font-style(#606060, 18px, 700, 27px);

                &:hover{
                    background-color: $color-primary;
                    border-radius: 18px;
                    color: #F9F9F9;
                }
            }
        }
    }
}