$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-third: 'Manrope', sans-serif;
$font-forth: 'Plus Jakarta Sans', sans-serif;
$font-fifth: 'Public Sans', sans-serif;
$font-sixth: 'Quicksand', sans-serif;

$color-primary: #6C5FBC;

@mixin font-style($color, $size, $weight, $lheight: auto) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $lheight;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1262px;
    margin: 0 auto;
}

body{
    font-family: $font-primary;
    background-color: #F9F9F9;

    a{
        text-decoration: none;
        cursor: pointer;
    }

    .color{
        color: $color-primary;
    }

    button{
        cursor: pointer;
    }

    

    header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        nav,
        nav li,
        button {
            display: inline-block;
        }

        .container{
            padding: 48px 0 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: #CBCBCB 1px solid;

            .header-logo-nav{
                display: flex;
                justify-content: space-between;
                align-items:center;
                width: 50%;

                .header-logo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name-logo{
                        margin-left: 11px;

                        @include font-style($color-primary, 21px, 600, 28px);
                    }
                }

                .header-nav {
                    nav ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 54px;

                        li{
                            list-style-type: none;
                            display: flex;
                            justify-content: space-between;

                            a{

                                @include font-style(#606060, 18px, 500, 27px);
                            }
                        }
                    }
                }
            }

            .header-buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;

                button{
                    font-family: $font-secondary;
                    padding: 18px 27px;
                    background-color: #F9F9F9;
                    border-radius: 18px;
                    border-style: none;
                    transition: 0.5s;
                    margin-right: 9px;

                    @include font-style(#606060, 18px, 700, 27px);

                    &:hover{
                        background-color: $color-primary;
                        
                        color: #F9F9F9;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    main{
        .hero{
            padding: 184px 0 85px;
            .container{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .hero__tittle{
                    padding: 70px 0 46px;
              
                    .hero__tittle-comment{
                        font-family: $font-primary;
                        letter-spacing: 2px;

                        @include font-style(rgba(32, 31, 31, 0.20), 15px, 600, 18px);

                        &::before{
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            max-width: 54px;
                            height: 1px;
                            background-color: #201F1F;
                            opacity: 0.2;
                            margin-right: 10px;
                        }
                    }

                    h1{
                        font-family: $font-primary;
                        letter-spacing: -3px;
                        max-width: 567px;
                        margin: 18px 0 16px;
                        
                        @include font-style(#201F1F, 75px, 600, 90px);
                    }

                    .hero__info{
                        margin-bottom: 53px;
                        font-family: $font-secondary;
                        max-width: 499px;
                        opacity: 0.7;

                        @include font-style(#676767, 18px, 400, 28px);
                    }

                    .hero__buttons{
                        margin-bottom: 33px;

                        button{
                            font-family: $font-primary;
                            padding: 18px 31px;
                            background-color: #F9F9F9;
                            border: none;
                            border-radius: 12px;
                            transition: 0.5s;
                            outline: 1px solid $color-primary;
                            margin-right: 18px;

                            @include font-style($color-primary, 16px, 500);

                            &:hover{
                                background-color: $color-primary;
                                
                                color: #F9F9F9;
                                transition: 0.5s;
                            }
                        }
                    }

                    .hero__feedback{
                        display: flex;
                        align-items: last baseline;

                        .hero__feedback-name{
                            margin-right: 20px;
                            
                            .icon-name{
                                transform: translateY(4px);
                            }
                        }

                        .hero__feedback-users{
                            font-family: $font-forth;
                            opacity: 0.7;
                            margin-left: 9px;

                            @include font-style(#334155, 16px, 500, 24px);
                        }
                    }
                }

                .hero__img{
                    transform: translateX(36px);
                }
            }
        }

        .experience{
            padding: 57px 0 55px;
            background-image: url("../assets/images/back-experience.jpg");
            background-size: cover;

            .experience__wrapper{
                display: flex;
                justify-content: center;
                column-gap: 66px;

                .experience__card{
                    width: 264px;
                    border-right: 1px solid rgba(196, 196, 196, 0.15);
 

                    .experience__number{
                        font-family: $font-fifth;
                        text-align: center;
                        padding-right: 66px;

                        @include font-style(#FFF, 43px, 700, 54px);
                    }

                    .experience__info{
                        font-family: $font-secondary;
                        text-align: center;
                        padding-right: 66px;

                        @include font-style(#C5BFED, 14px, 500, 22px);
                    }

                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }

        .app{
            .container{
                padding: 104px 0 120px;
                display: flex;
                justify-content: space-between;

                .app__info{
                    max-width: 545px;
                   h2{
                    padding-top: 75px;
                    margin-bottom: 63px;
                    font-family: $font-primary;

                    @include font-style(#18181B, 51px, 700, 58px);
                   } 

                   ul li{
                    margin-bottom: 28px;
                    font-family: $font-secondary;

                    @include font-style(#676767, 20px, 400, 31px);
                   }

                   button{
                    margin-top: 38px;
                    padding: 20px 68px 20px 26px;
                    font-family: $font-primary;
                    text-align: center;
                    background-color: $color-primary;
                    background-image: url("../assets/icons/arrow-right.svg");
                    background-size: 27px;
                    background-repeat: no-repeat;
                    background-position: 80%;
                    border-radius: 12px;

                    @include font-style(#FFF, 18px, 500, 23px);
                    
                   }

                   img{
                    transform: rotateY(25deg);
                    transform: translate(-20px, 80px);
                   }
                }
            }
        }

        .restaurants{
            .container{
                padding: 100px 0 120px;
                border-top: 1px solid #CBCBCB;
                border-bottom: 1px solid #CBCBCB;

                h3{
                    font-family: $font-primary;
                    text-align: center;
                    margin-bottom: 86px;

                    @include font-style(#323142, 45px, 600, 26px);
                }

                .restaurants__wrapper{
                    display: flex;
                    justify-content: space-between;

                    .restaurants__card{
                        border-radius: 30px;
                        border: 1px solid #F4F4F6;
                        background-color: #FFF;
                        box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.70);


                        .restaurants__img{
                            img{
                                border-radius: 30px 30px 0 0;
                            }
                        }

                        .restaurants__info{
                            margin: 0 27px 0 33px;

                            .restaurants__mark{
                                font-style: $font-primary;
                                width: 66px;
                                border-radius: 5px;
                                background-color: #F7EDD0;
                                text-align: center;

                                @include font-style(#DAA31A, 13px, 400);
                            }

                            .restaurants__mark2{
                                font-style: $font-primary;
                                width: 66px;
                                border-radius: 5px;
                                background-color: #F7C5BA;
                                text-align: center;

                                @include font-style(#FB471D, 13px, 400);
                            }

                            .restaurants__name{
                                font-style: $font-primary;

                                @include font-style(#323142, 26px, 600, 42px);
                            }

                            .restaurants__feedback-pop{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .restaurants__feedback{
                                    display: flex;
                                    justify-content: space-between;

                                    .restaurants__time, .restaurants__popular{
                                        font-family: $font-third;

                                        @include font-style(#8E97A6, 19px, 400, 26px);
                                    }

                                }

                                .restaurants__bookmark{
                                    img{
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }

                .restaurants__view{
                    display: block;
                    margin-top: 66px;
                    padding-right: 47px;
                    text-align: end;
                    font-family: $font-primary;
                    letter-spacing: -0.1px;
                    background-image: url("../assets/icons/arrow-right-gray.svg");
                    background-size: 27px;
                    background-repeat: no-repeat;
                    background-position: 100%;

                    @include font-style(#ACADB9, 20px, 500, 45px);
                }
            }
        }

        .dishes{
            .container{
                padding: 100px 0 120px;

                h3{
                    font-family: $font-primary;
                    text-align: center;
                    margin-bottom: 76px;

                    @include font-style(#323142, 45px, 600, 26px);
                }

                .dishes__wrapper{
                    display: flex;
                    justify-content: space-between;

                    .dishes__card{
                        max-width: 225px;
                        padding: 26px 0 30px ;
                        border-radius: 36px;
                        border: 1px solid #F4F4F6;
                        background-color: #FFF;
                        box-shadow: 7px 82px 41px 0 rgba(229, 229, 229, 0.70);
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;

                        .dishes__heart{
                            position: absolute;
                            cursor: pointer;
                            right: 20px;
                            top: 20px;
                        }

                        .dishes__info{
                            padding: 0 23px;

                            .dishes__mark{
                                font-style: $font-primary;
                                width: 66px;
                                border-radius: 5px;
                                background-color: #F7EDD0;
                                text-align: center;

                                @include font-style(#DAA31A, 11px, 400);
                            }

                            .dishes__mark2{
                                font-style: $font-primary;
                                width: 66px;
                                border-radius: 5px;
                                background-color: #F7C5BA;
                                text-align: center;

                                @include font-style(#FB471D, 11px, 400);
                            }

                            .dishes__mark3{
                                font-style: $font-primary;
                                width: 66px;
                                border-radius: 5px;
                                background-color: rgba(51, 173, 100, 0.2);
                                text-align: center;

                                @include font-style(#309D5B, 11px, 400);
                            }

                            .dishes__name{
                                font-style: $font-primary;

                                @include font-style(#323142, 23px, 600, 37px);
                            }

                            .dishes__time-pop{
                                display: flex;
                                justify-content: flex-start;

                                .dishes__time, .dishes__popular{
                                    font-family: $font-third;

                                    @include font-style(#8E97A6, 17px, 400, 23px);
                                }
                            }

                            .dishes__price-add{
                                display: flex;
                                justify-content: space-between;

                                .dishes__price{
                                    font-family: $font-third;

                                    @include font-style(#323142, 26px, 700, 40px);

                                    .price{
                                        font-family: $font-third;

                                        @include font-style(#8E97A6, 19px, 700, 40px);
                                    }
                                }
                            }

                        }
                    }
                }

                .dishes__view{
                    display: block;
                    margin-top: 66px;
                    padding-right: 47px;
                    text-align: end;
                    font-family: $font-primary;
                    letter-spacing: -0.1px;
                    background-image: url("../assets/icons/arrow-right-gray.svg");
                    background-size: 27px;
                    background-repeat: no-repeat;
                    background-position: 100%;

                    @include font-style(#ACADB9, 20px, 500, 45px);
                }
            }
        }

        .purchases{
            .container{
                border-bottom: 1px solid #CBCBCB;
                border-top: 1px solid #CBCBCB;
                padding: 100px 0 134px;
                display: flex;
                justify-content: space-between;

                .purchases__dashboard{
                    h2{
                        font-family: $font-primary;
                        margin-bottom: 48px;
                        max-width: 560px;

                        @include font-style(#18181B, 51px, 700, 58px);
                    }

                    .purchases__wrapper-dish{
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        row-gap: 15px;

                        .purchases__card-dish{
                            padding: 12px;
                            display: flex;
                            justify-content: space-between;
                            border-radius: 12px;
                            background-color: #FFF;
                            box-shadow: 6px 20px 10px 0 rgba(229, 229, 229, 0.70);
                            max-width: 345px;
                            cursor: pointer;

                            .purchases__card-dish-rigth{
                                display: flex;
                                justify-content: space-between;

                                .purchases__img{
                                    img{
                                        height: 80px;
                                        margin-right: 19px;
                                    }
                                }
                                
                                .purchases__info{
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: flex-start;

                                    .purchases__name{
                                        font-family: $font-primary;

                                        @include font-style(#323142, 19px, 600, 27px);
                                    }

                                    .purchases__status{
                                        font-family: $font-primary;

                                        @include font-style(#323142, 12px, 500, 17px);
                                    }

                                    .purchases__status-red{
                                        font-family: $font-primary;

                                        @include font-style(#F1534E, 12px, 500, 17px);
                                    }
                                }
                            }

                            .purchases__time{
                                display: flex;
                                align-items: flex-end;

                                .purchases__time-order{
                                    font-family: $font-primary;

                                    @include font-style(#ACADB9, 13px, 500, 18px);
                                }
                            }
                        }
                    }
                }

                .purchases__result{
                    border-radius: 25px;
                    border: 2px solid #EDF2F7;
                    background-color: #FFF;
                    box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.70);
                    padding: 38px 38px 46px;
                    width: 42%;
                    

                    .purchases__months{
                        margin-bottom: 38px;
                        display: flex;
                        justify-content: space-between;

                        p{
                            font-family: $font-third;
                            letter-spacing: 0.314px;

                            @include font-style(#1A202C, 28px, 800, 38px);
                        }

                        select{
                            font-family: $font-third;
                            letter-spacing: 0.628px;
                            border-radius: 13px;
                            background: #FAFAFA;
                            padding: 13px 48px 13px 19px;
                            appearance: none;
                            overflow: hidden;
                            background-image: url("../assets/icons/arrow-down.svg");
                            background-size: 25px;
                            background-repeat: no-repeat;
                            background-position: 90%;
                            cursor: pointer;

                            @include font-style(#1A202C, 19px, 600, 28px);
                        }
                    }

                    .purchases__wrapper-result{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        row-gap: 22px;

                        .purchases__card-result{
                            padding: 25px;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            border-radius: 19px;
                            border: 2px solid #EDF2F7;

                            .purchases__card-up{
                                margin-bottom: 20px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .purchases__card-left{
                                    display: flex;
                                    justify-content: space-between;

                                    .purchases__result-img{
                                        margin-right: 19px;
                                    }

                                    .purchases__result-info{
                                        display: flex;
                                        justify-content: space-between;
                                        flex-direction: column;

                                        .name{
                                            font-family: $font-third;
                                            letter-spacing: 0.628px;

                                            @include font-style(#1A202C, 19px, 800, 28px);
                                        }
                                        
                                        .increased{
                                            font-family: $font-third;
                                            letter-spacing: 0.628px;

                                            @include font-style(#A0AEC0, 16px, 500, 24px);
                                        }
                                    }
                                }

                                .purchases__count{
                                    font-family: $font-third;
                                    letter-spacing: 0.314px;

                                    @include font-style(#1A202C, 22px, 800, 33px);
                                }
                            }

                            .purchases__card-strip{
                                position: relative;

                                .purchases__rectangle-border-violet{
                                    content: "";
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: 9px;
                                    background-color: rgba(105, 92, 186, 0.2);
                                    border-radius: 79px;
                                    position: absolute;
                                    right: 0;
                                    left: 0;
                                }

                                .purchases__rectangle-violet{
                                    content: "";
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: 9px;
                                    background-color: $color-primary;
                                    border-radius: 79px;
                                    position: absolute;
                                    left: 0;
                                    right: 111px;
                                    z-index: 1;
                                }

                                .purchases__rectangle-orange{
                                    content: "";
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: 9px;
                                    background-color: #FBAD18;
                                    border-radius: 79px;
                                    position: absolute;
                                    left: 0;
                                    right: 163px;
                                    z-index: 1;
                                }

                                .purchases__rectangle-border-orange{
                                    content: "";
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: 9px;
                                    background-color: rgba(250, 170, 23, 0.2);
                                    border-radius: 79px;
                                    position: absolute;
                                    right: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }




        .discount{
            .container{
                padding: 182px 0 216px;

                .discount__wrapper{
                    padding: 37px 72px 61px 66px;
                    margin-left: 46px;
                    border-radius: 30px;
                    background: linear-gradient(to top, rgba(105, 92, 186, 0.8), rgba(105, 92, 186, 0.8)), url(../assets/images/discount-group-img.png);
                    background-size: cover;
                    background-position: 100%;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    .discount__head{

                        p{
                            font-family: $font-primary;
                            margin-bottom: 9px;

                            @include font-style(#F7F8FA, 70px, 800);
                        } 

                        .discount__form{
                            max-width: 440px;
                            padding: 7px 0 7px 22px;
                            border-radius: 14px;
                            background: #F7F8FA;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            input {
                                width: 100%;
                                letter-spacing: 0.488px;
                                border: none;
                                outline: none;

                                @include font-style(#1A202C, 16px, 400);


                                &::placeholder {
                                    background: #F7F8FA;
                                    color: #878787;
                                }

                                &:focus {
                                    border: none;
                                    outline: none;
                                    align-self: none;
                                }
                            }

                            button {
                                vertical-align: middle;
                                width: 132px;
                                height: 53px;
                                border-radius: 11px;
                                border-style: none;
                                text-transform: uppercase;
                                background: $color-primary;
                                text-align: center;
                                margin-right: 6px;

                                @include font-style(#F7F8FA, 15px, 500, 36px);
                            }
                        }
                    }

                    .discount__img{
                        img{
                            width: 274px;
                            position: absolute;
                            top: 64px;
                            right: 72px;
                        }
                    }
                }
            }
        }
    }
}