$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-third: 'Manrope', sans-serif;
$font-forth: 'Plus Jakarta Sans', sans-serif;
$font-fifth: 'Public Sans', sans-serif;
$font-sixth: 'Quicksand', sans-serif;

$color-primary: #6C5FBC;

@mixin font-style($color, $size, $weight, $lheight: auto) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $lheight;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1262px;
    margin: 0 auto;
}

body{
    font-family: $font-primary;
    background-color: #F9F9F9;

    a{
        text-decoration: none;
    }

    

    header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        nav,
        nav li,
        button {
            display: inline-block;
        }

        .container{
            padding: 48px 0 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: #CBCBCB 1px solid;

            .header-logo-nav{
                display: flex;
                justify-content: space-between;
                align-items:center;
                width: 50%;

                .header-logo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name-logo{
                        margin-left: 11px;

                        @include font-style($color-primary, 21px, 600, 28px);
                    }
                }

                .header-nav {
                    nav ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 54px;

                        li{
                            list-style-type: none;
                            display: flex;
                            justify-content: space-between;

                            a{

                                @include font-style(#606060, 18px, 500, 27px);
                            }
                        }
                    }
                }
            }

            .header-buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;

                button{
                    font-family: $font-secondary;
                    padding: 18px 27px;
                    background-color: #F9F9F9;
                    border-radius: 18px;
                    border-style: none;
                    transition: 0.5s;

                    @include font-style(#606060, 18px, 700, 27px);

                    &:hover{
                        background-color: $color-primary;
                        
                        color: #F9F9F9;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    main{
        .hero{
            padding: 184px 0 85px;

            &__title{
                &__tittle-comment{
                    font-family: $font-primary;
                    letter-spacing: 2px;

                    @include font-style(rgba(32, 31, 31, 0.20), 15px, 600, 18px);

                    
                }
            }
        }
    }
}